@import "tailwindcss";

/* Custom Scrollbar for Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(75, 85, 99, 0.5);
    /* gray-600/50 */
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(75, 85, 99, 0.8);
    /* gray-600/80 */
}